/* course details page css */

.navbar-fix {
    background-color: #392c7d;
}

/* tab css */
.nav-tabs .nav-link {
    color: #392c7d;
    border: none;
}

.nav-tabs .nav-link.active {
    color: #f66962;
    background-color: transparent;
    border: none;
}

.nav-tabs .nav-link:hover {
    color: #f66962;
}

/* .subs-title {
	font-size: 18px;
	font-weight: 700;
	color: #e42327;
	margin-bottom: 20px;
} */

.sidebar-container {
    background-color: #efeefe;
}

.sidebar {
    background-color: #efeefe;
    border: 1px solid #dee2e6;
}

.accordion .card-header {
    cursor: pointer;
    border: none;
    border-radius: 0px;
    background-color: #efeefe;
}

.accordion .card-header:hover,
.accordion .card-header.active {
    background-color: #efeefe;
}

.accordion .collapse.show .card-header {
    background-color: #efeefe;
}

/* entire dashboard titles css */
.breadcrumb-bar.breadcrumb-bar-info
    .page-breadcrumb
    .breadcrumb-item
    + .breadcrumb-item:before {
    background: #1d1d56;
}

.breadcrumb-bar.breadcrumb-bar-info .breadcrumb-title {
    color: #002058;
}

.page-breadcrumb ol li a {
    color: #002058;
}

/* dashboard page css */
.dashboard-card p {
    color: #7b87a3;
}
.card-bg {
    background-color: #eef3ff;
    color: #1d1d56;
}
